#TopTabs{
    border-bottom-style:groove;
    border-color: black;
    background-color: white;
    padding: 10px;
    text-align: center;
}
body{
    background-color: #F3F3F3;
    margin: 0;
    min-height: 100%;
    width: 100%;
}
#topLogo{
    width: 22%;
    padding: 0%;
    margin: 0%;
    overflow:hidden;
}
#HebButton{
    border-radius: 20px;
    border-style: hidden;
    background-color: #166AEA;
    color: white;
}
#HebButtonA{
    margin: 10px;
}
#HebA{
    margin: 10px;
}
.HebButtonC{
    border-radius: 20px;
    border-style: hidden;
    background-color: #166AEA;
    color: white;
    margin: 10px;
}
#ForIndJordB{
    border-radius: 20px;
    border-style: hidden;
    background-color: #166AEA;
    color: white;
    margin: 20px;
}
#ForIndJordA{
    margin: 10px;
}
#ForIndJordA1{
    margin: 10px;
}
#HR{
    border: transparent;
}
#ExJr{
    border-radius: 20px;
    border-style: hidden;
    background-color: #166AEA;
    color: white;
}
#ExJrA{
    margin: 10px;
}
#ExJrF{
    border-radius: 20px;
    border-style: hidden;
    background-color: #166AEA;
    color: white;
}
#ExJrFA{
    margin: 10px;
}
#AitisalJ{
    color: black;
}
#AitisalLink{
    text-decoration: none;
}
#CopyRLogo{
    width: 15%;
    float: left;
}
#CopyRLogo1{
    width: 15%;
    float: right;
}
#CopyText{
    left: 150px;
    bottom: 115px;
    padding: 10px;
}
#CopyText1{
    left: 850px;
    bottom: 115px;
    padding: 10px;
}
#ImportantEndDiv{
    border-style: solid;
    border-width: 1px;
    text-align: left;
    overflow: hidden;
}
#ImportantEndDiv1{
    border-style: solid;
    border-width: 1px;
    text-align: right;
    overflow: hidden;
}
.Exp1{
    text-align: right;
    padding: 10px;
    margin: 0;
}
.Exp{
    text-align: left;
    padding: 10px;
    margin: 0;
}
#Welcome{
    text-align: left;
    padding: 10px;
}
#Welcome1{
    text-align: right;
    padding: 10px;
}
#Img1{
    width: 30%;
}
#Img2{
    width: 30%;
}
#Img3{
    width: 30%;
}

#HebBody{
    text-align: right;
    margin: 0;
}
.ad_en{
    position: absolute;
}
#ad1{
    right: 10px;
}
#ad2{
    right: 10px;
    top: 1400px;
}
#ad3{
    left: 10px;
    top: 1200px;
    position: absolute;
}
@media only screen and (max-width: 400px) {
    #ad1{
        visibility: hidden;
    }
    #ad2{
        visibility: hidden;
    }
  }